body, html {
  min-height: 100%;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  background-color: black;
}

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bodyContainer {
  background-color: rgb(48, 47, 47);
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.headerContainer {
  background-color: rgb(48, 47, 47);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  border-bottom: 1px solid grey;
  padding-top: 3%;
  padding-bottom: 3%;
}

.navText {
  color: rgb(175, 218, 218);
  font-style: none;  
  text-decoration: none;
  font-size: 120%;
}

.navText:hover {
  opacity: .6;
  cursor: pointer;
}

.bigText {
  color: rgb(175, 218, 218);
  font-size: 350%;
  margin: 0;
}

.smallText {
  color: rgb(175, 218, 218);
  font-size: 125%;
}

.linkText {
  color: rgb(170, 95, 170);
  font-size: 150%;
}

.linkText:hover {
  opacity: .6;
  cursor: pointer;
}